<svg height="100px" width="100%">
  <g>
  <rect height="100px" width="100%" fill="blue"/>
  <text transform="translate(50,70)" fill="orange" font-size="50"> {{title | uppercase}} </text>
  </g>
</svg>
<router-outlet></router-outlet>
