<div class="boissons">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let boisson of Boissons">
      <div class="row">
        <div class="col">
          <a routerLink="/payment">
            <button class="btn btn-success" (click)="SelectBoisson(boisson)"> {{boisson.title}}</button>
          </a>
        </div>
        <div class="col"><p class="text-info"> {{boisson.price}} €</p></div>
      </div>
    </li>
  </ul>
</div>
