<p> La preparation est en cours <span>....</span></p>

<svg id="bar" height="50px" width="100%">
  <g transform="translate(100,0)">
    <rect height="40px" width="300px" fill="grey" rx="5px"></rect>
    <rect id="progressbar" fill="blue" width="0px" height="40px" rx="5px"></rect>
  </g>
</svg>

<svg id="circleLoad" height="100" width="500">
</svg>

<a routerLink="/moneyback" *ngIf="checkProgressBar()>=300"><button class="btn btn-success">
  Take your {{boissonSelectService.select_boisson.title}}</button></a>
