<div class="row">
  <div class="col">
    <ul class="list-group">
  <li class="groupe-list-item" *ngFor="let pricei of PossiblePrice">
    <button class="btn btn-success" (click)="AddPiece(pricei)"> {{pricei}} € </button>
  </li>
</ul>
  </div>
  <div class="col">
    <p> Reste à payer: <span id="restToPaid"></span></p>
  </div>
</div>


