{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Django-ng</title>
  <base href="/test/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'machineACafe/favicon.ico' %}">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'machineACafe/styles.303f15df99109972c274.css' %}"></head>
<body>
	<app-root>
    </app-root>
    <script type="text/javascript" src="{% static 'machineACafe/runtime-es2015.edb2fcf2778e7bf1d426.js' %}"></script>
    <script type="text/javascript" src="{% static 'machineACafe/polyfills-es2015.2987770fde9daa1d8a2e.js' %}"></script>
	<script type="text/javascript" src="{% static 'machineACafe/main-es2015.de94ff6ea3247a075658.js' %}"></script>
</body>
</html>