{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MachineACafe</title>
    <base href="/test/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="{% static 'machineACafe/styles.css' %}">
</head>
<body>
<app-root></app-root>
<script src="{% static 'machineACafe/runtime.js'%}" type="module"></script>
<script src="{% static 'machineACafe/polyfills.js'%}" type="module"></script>
<script src="{% static 'machineACafe/main.js'%}" type="module"></script>
</body>
</html>
