<a routerLink="select">
  <svg height="200" width="100%">
    <g>
        <rect height="100%" width="100%" fill="gray"></rect>
        <text transform="translate(100,100)" fill="orange"> Touch it !</text>
    </g>
</svg>
</a>
